.contenedor{
  width: 300px;
  height: 55px;
  font-style: italic;
  font-size: 55px;
  line-height: 55px;
  margin: auto;
  display: flex;
  overflow: hidden;
}
.contenedor li{
  list-style: none;
}
.contenedor ul{
  animation: texto 10s infinite ;
  animation-direction: alternate;
  padding-left: 10px;
}
ul,p{
  margin: 0;
}
@keyframes texto {
  0% { margin-top: 0;}
  33% { margin-top: 0;}

  35% { margin-top: -55px;}
  68% { margin-top: -55px;}

  70% { margin-top: -110px;}
  100% { margin-top: -110px;}
}
h1{
  font-style: italic;
  color: rgb(43, 104, 164);
}
p{
  font-size: 25px;
  font-style: oblique;
}
